# CUSTOMER SEGMENTATION

***

## ONLINE RETAIL DATASET

<img class="thumb" data-pin-no-hover="true" src="https://img.freepik.com/free-vector/postman-giving-parcel-customer-post-office_74855-4811.jpg" srcset="https://img.freepik.com/free-vector/postman-giving-parcel-customer-post-office_74855-4811.jpg?w=360&amp;t=st=1653945277~exp=1653945877~hmac=d3581d05c98c9b3969397a7751afba9c8a034b9fcd2bae877bc980001964963c 360w, https://img.freepik.com/free-vector/postman-giving-parcel-customer-post-office_74855-4811.jpg?w=740&amp;t=st=1653945277~exp=1653945877~hmac=d3581d05c98c9b3969397a7751afba9c8a034b9fcd2bae877bc980001964963c 740w, https://img.freepik.com/free-vector/postman-giving-parcel-customer-post-office_74855-4811.jpg?w=826&amp;t=st=1653945277~exp=1653945877~hmac=d3581d05c98c9b3969397a7751afba9c8a034b9fcd2bae877bc980001964963c 826w, https://img.freepik.com/free-vector/postman-giving-parcel-customer-post-office_74855-4811.jpg?w=900&amp;t=st=1653945277~exp=1653945877~hmac=d3581d05c98c9b3969397a7751afba9c8a034b9fcd2bae877bc980001964963c 900w, https://img.freepik.com/free-vector/postman-giving-parcel-customer-post-office_74855-4811.jpg?w=996&amp;t=st=1653945277~exp=1653945877~hmac=d3581d05c98c9b3969397a7751afba9c8a034b9fcd2bae877bc980001964963c 996w, https://img.freepik.com/free-vector/postman-giving-parcel-customer-post-office_74855-4811.jpg?w=1060&amp;t=st=1653945277~exp=1653945877~hmac=d3581d05c98c9b3969397a7751afba9c8a034b9fcd2bae877bc980001964963c 1060w, https://img.freepik.com/free-vector/postman-giving-parcel-customer-post-office_74855-4811.jpg?w=1380&amp;t=st=1653945277~exp=1653945877~hmac=d3581d05c98c9b3969397a7751afba9c8a034b9fcd2bae877bc980001964963c 1380w, https://img.freepik.com/free-vector/postman-giving-parcel-customer-post-office_74855-4811.jpg?w=1480&amp;t=st=1653945277~exp=1653945877~hmac=d3581d05c98c9b3969397a7751afba9c8a034b9fcd2bae877bc980001964963c 1480w, https://img.freepik.com/free-vector/postman-giving-parcel-customer-post-office_74855-4811.jpg?w=1800&amp;t=st=1653945277~exp=1653945877~hmac=d3581d05c98c9b3969397a7751afba9c8a034b9fcd2bae877bc980001964963c 1800w, https://img.freepik.com/free-vector/postman-giving-parcel-customer-post-office_74855-4811.jpg?w=2000&amp;t=st=1653945277~exp=1653945877~hmac=d3581d05c98c9b3969397a7751afba9c8a034b9fcd2bae877bc980001964963c 2000w" width="626" height="250" >

At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita 

distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut 

officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.

# LIBS

In [1]:
import pandas                   as pd
import seaborn                  as sns
import matplotlib.pyplot        as plt


import datetime

# DATASET

In [2]:
df = pd.read_csv('data.csv', encoding = 'latin-1')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [3]:
df.shape

(541909, 8)

# DATA ANALYSIS

## GENERAL ANALYSIS

In [4]:
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [5]:
df['InvoiceDate'] = df['InvoiceDate'].astype('datetime64')

In [6]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [7]:
df.groupby('Country')['CustomerID'].count().sort_values(ascending = False)

Country
United Kingdom          361878
Germany                   9495
France                    8491
EIRE                      7485
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               1877
Portugal                  1480
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
USA                        291
Israel                     250
Unspecified                244
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     17
Saudi Arabia                10
Hong Kong                    0
Name: CustomerID, dtype: int64

In [8]:
df['Country'].value_counts(normalize = True)

United Kingdom          0.914320
Germany                 0.017521
France                  0.015790
EIRE                    0.015124
Spain                   0.004674
Netherlands             0.004375
Belgium                 0.003818
Switzerland             0.003694
Portugal                0.002803
Australia               0.002323
Norway                  0.002004
Italy                   0.001482
Channel Islands         0.001399
Finland                 0.001283
Cyprus                  0.001148
Sweden                  0.000853
Unspecified             0.000823
Austria                 0.000740
Denmark                 0.000718
Japan                   0.000661
Poland                  0.000629
Israel                  0.000548
USA                     0.000537
Hong Kong               0.000531
Singapore               0.000423
Iceland                 0.000336
Canada                  0.000279
Greece                  0.000269
Malta                   0.000234
United Arab Emirates    0.000125
European Community      0.000113
RSA                     0.000107
Lebanon                 0.000083
Lithuania               0.000065
Brazil                  0.000059
Czech Republic          0.000055
Bahrain                 0.000035
Saudi Arabia            0.000018
Name: Country, dtype: float64

***

More than 90% of the data is from UK sales, so, we're going to restrict the data to the United Kingdom only.


As we could see in the previous snippet, null customer ID represents 135.080 records. Our analysis is based on clients, so we're going to drop all missing values in this column as well.

In [9]:
df = df[df['Country'] == 'United Kingdom']

# removing null values
df = df[~df['CustomerID'].isnull()]

In [10]:
# checking negative values or incorrect dates
print(df['InvoiceDate'].min())
print(df['InvoiceDate'].max())

print(df['UnitPrice'].min())
print(df['UnitPrice'].max())

2010-12-01 08:26:00
2011-12-09 12:49:00
0.0
38970.0

## DATA ANALYSIS

In [11]:
df1 = df.copy(deep = True)

***

To make the analysis easier, we're going to create a revenue column:

Quantity sold * Unit Price

In [12]:
df1['revenue'] = df1['Quantity'] * df1['UnitPrice']
df1.sample(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,revenue
432686,573886,21985,PACK OF 12 HEARTS DESIGN TISSUES,24,2011-11-01 13:37:00,0.39,14401.0,United Kingdom,9.36
254368,C559309,22727,ALARM CLOCK BAKELIKE RED,-4,2011-07-07 13:18:00,3.75,17719.0,United Kingdom,-15.00
411358,572216,23367,SET 12 COLOUR PENCILS SPACEBOY,5,2011-10-21 12:56:00,0.65,16015.0,United Kingdom,3.25
207511,554992,21912,VINTAGE SNAKES & LADDERS,2,2011-05-29 14:08:00,3.75,16686.0,United Kingdom,7.50
422871,573123,22619,SET OF 6 SOLDIER SKITTLES,4,2011-10-27 16:23:00,3.75,13654.0,United Kingdom,15.00

***

From InvoiceDate column, we can create some features as day of the week, day name, whether is workday or not, periodof the day, holiday, etc.

1 - Name of the day

2 - Workweek x weekend

4 - Day period

In [13]:
# "spliting" date and hour
df1['date'] = df1['InvoiceDate'].dt.date
df1['time'] = df1['InvoiceDate'].dt.time

In [14]:
# day of the week
df1['day_of_week'] = df1['InvoiceDate'].apply(lambda x: x.strftime('%A'))

In [15]:
# Saturday or sunday
df1['weekend'] = df1['day_of_week'].apply(lambda x: 1 if x == 'Saturday' or x == 'Sunday'
                        else 0)

In [16]:
# day period
print(df1['time'].min(), df1['time'].max())

06:10:00 20:38:00